In [24]:
import tweepy
import webbrowser
import time
import pandas as pd

In [3]:
consumer_key = 'h1FMGukUb2opdWyp6e5h4wXsJ'
consumer_secret = 'Bd3604rdoBGdsVdBL6fubOpyYL44L0uJNpBp5D63IOe5k4h6Rg'
callback_uri = 'oob'
auth = tweepy.OAuthHandler(consumer_key,consumer_secret,callback_uri)
redirect_url = auth.get_authorization_url()
webbrowser.open(redirect_url)
user_pin_input = input("What is your pin ?")

What is your pin ?1492460

In [4]:
user_pin_input

'1492460'

In [5]:
auth.get_access_token(user_pin_input)

('359263757-80cFdRPELOWd659u6G6wrCnDnioX3e9fFYJUWbcH',
 'elyoFB2sAi8c3plOV19CeXgVS5yXcag0DYJtrcupceUZq')

In [6]:
api = tweepy.API(auth)

In [8]:
me = api.me()

In [9]:
print(me.name)

Sanjay singh

In [10]:
my_timeline = api.home_timeline()

In [34]:
columns = set()
allowed_types = [int, str]
tweets_data = []
for status in my_timeline:
    print(status.user.screen_name)
    status_dict = dict(vars(status))
    keys = status_dict.keys()
    single_tweet_data = {"user": status.user.screen_name, "author": status.author.screen_name}
    for k in keys:
        try:
            v_type = type(status_dict[k])
        except:
            v_type = None
        if v_type != None:  
            if v_type in allowed_types:
                single_tweet_data[k] = status_dict[k]
                columns.add(k)
    tweets_data.append(single_tweet_data)

header_cols = list(columns)
header_cols.append("user")
header_cols.append("author")

the_hindu
the_hindu
ptshrikant
ptshrikant
UPPCLLKO
UPPCLLKO
ptshrikant
UPPCLLKO
UPPCLLKO
Sanjaygrt07
UPPCLLKO
UPPCLLKO
UPPCLLKO
the_hindu
the_hindu
ThePSF
the_hindu
the_hindu
the_hindu
the_hindu

In [35]:
header_cols

['lang',
 'text',
 'id',
 'retweet_count',
 'source',
 'favorite_count',
 'source_url',
 'id_str',
 'user',
 'author']

In [36]:
df = pd.DataFrame(tweets_data, columns=header_cols)

In [37]:
df.head()

,lang,text,id,retweet_count,source,favorite_count,source_url,id_str,user,author
0,en,#KamalaHarris' husband Doug Emhoff will break ...,1325357413260808192,4,SocialFlow,62,http://www.socialflow.com,1325357413260808192,the_hindu,the_hindu
1,en,RT @THNewDelhi: Delhi Health Minister Satyenda...,1325355138605670400,8,TweetDeck,0,https://about.twitter.com/products/tweetdeck,1325355138605670400,the_hindu,the_hindu
2,en,RT @narendramodi: Congratulations @JoeBiden on...,1325354481991577601,29018,Twitter for iPhone,0,http://twitter.com/download/iphone,1325354481991577601,ptshrikant,ptshrikant
3,hi,RT @narendramodi: भाजपा को जन-जन तक पहुंचाने क...,1325354407538561025,4640,Twitter for iPhone,0,http://twitter.com/download/iphone,1325354407538561025,ptshrikant,ptshrikant
4,hi,RT @dvvnlchitrakoot: चित्रकूट के अंतर्गत आज रा...,1325354390270570497,1,Twitter Web App,0,https://mobile.twitter.com,1325354390270570497,UPPCLLKO,UPPCLLKO

In [42]:
def extract_timeline_as_df(timeline_list):
    columns = set()
    allowed_types = [int, str]
    tweets_data = []
    for status in timeline_list:
        status_dict = dict(vars(status))
        keys = status_dict.keys()
        single_tweet_data = {"user": status.user.screen_name, "author": status.author.screen_name}
        for k in keys:
            try:
                v_type = type(status_dict[k])
            except:
                v_type = None
            if v_type != None:  
                if v_type in allowed_types:
                    single_tweet_data[k] = status_dict[k]
                    columns.add(k)
        tweets_data.append(single_tweet_data)

    header_cols = list(columns)
    header_cols.append("user")
    header_cols.append("author")
    df = pd.DataFrame(tweets_data, columns=header_cols)
    return df

In [39]:
my_timeline = api.home_timeline()

In [40]:
df2 = extract_timeline_as_df(my_timeline)
df2.head()

the_hindu
the_hindu
the_hindu
the_hindu
the_hindu
Topcoder
the_hindu
ThePSF
the_hindu
the_hindu
the_hindu
androidcentral
the_hindu
the_hindu
the_hindu
the_hindu
the_hindu
the_hindu
codechef
the_hindu

,lang,text,id,retweet_count,source,favorite_count,source_url,id_str,user,author
0,en,Elections cancelled in some areas; Rohingya re...,1325502114454450177,4,SocialFlow,59,http://www.socialflow.com,1325502114454450177,the_hindu,the_hindu
1,en,RT @TheHinduSports: #DelhiCapitals entered its...,1325499802667294720,3,TweetDeck,0,https://about.twitter.com/products/tweetdeck,1325499802667294720,the_hindu,the_hindu
2,en,The prestigious National Defence College marks...,1325498376939560962,4,SocialFlow,69,http://www.socialflow.com,1325498376939560962,the_hindu,the_hindu
3,en,RT @TheHinduSports: Just In | #DelhiCapitals b...,1325498173876441089,4,TweetDeck,0,https://about.twitter.com/products/tweetdeck,1325498173876441089,the_hindu,the_hindu
4,en,'A formal notice for appearance before the com...,1325494566603157505,3,SocialFlow,44,http://www.socialflow.com,1325494566603157505,the_hindu,the_hindu

## Other user's timeline

In [45]:
user = api.get_user("UppclChairman")
user_timeline = user.timeline()
df3 = extract_timeline_as_df(user_timeline)
df3.head()

,lang,quoted_status_id,text,id,retweet_count,source,favorite_count,quoted_status_id_str,source_url,id_str,user,author
0,und,1.325322e+18,#uppclshg https://t.co/k0MHvAOVzw,1325487851056762880,1,Twitter for Android,3,1325322120734208002,http://twitter.com/download/android,1325487851056762880,UppclChairman,UppclChairman
1,hi,NaN,RT @puvvnlkusinagar: Vidhyut Shikayat Samadhan...,1325487637285675008,2,Twitter for Android,0,NaN,http://twitter.com/download/android,1325487637285675008,UppclChairman,UppclChairman
2,hi,NaN,RT @puvvnlazamgarh: Shikayat Nivaran Maha Camp...,1325487269520629760,3,Twitter for Android,0,NaN,http://twitter.com/download/android,1325487269520629760,UppclChairman,UppclChairman
3,hi,NaN,RT @puvvnlkusinagar: Vidhyut Shikayat Samadhan...,1325486969426644997,2,Twitter for Android,0,NaN,http://twitter.com/download/android,1325486969426644997,UppclChairman,UppclChairman
4,hi,NaN,RT @PuVVNLHQ: पूर्वांचल विद्युत वितरण निगम लिम...,1325486919225012231,19,Twitter for Android,0,NaN,http://twitter.com/download/android,1325486919225012231,UppclChairman,UppclChairman