In [1]:
1**2

1

In [30]:
import pandas as pd
import numpy as np
test = pd.read_csv("test.csv")
 
print(test)

     Name     Class    Phone
0   Vijay       2nd  9983772
1  Sanjay  graguate  9983773
2    Romy      12th  9983774
3  Durjan       2nd  9983775
4    Rani       3rd  9983776
5  Sunita      10th  9983777

In [35]:
test.head(3)

     Name     Class    Phone
0   Vijay       2nd  9983772
1  Sanjay  graguate  9983773
2    Romy      12th  9983774

In [36]:
import pandas as pd
import numpy as np
test = pd.read_excel('Agra1.xlsx', sheet_name='EMP-AGRA ZONE-1')
test['email_address']=test['email_address'].fillna(0)
test[test.email_address.str.contains('.com',case=False)]

0                                   0
1                ramyagya21@gmail.com
2          mohitcyborg@rediffmail.com
3          dorlal9675257025@gmail.com
4                rathaur.44@gmail.com
5             vipinsinghskd@gmail.com
6                   rambrij@gmail.com
7               manishdvvnl@gmail.com
8              rsaxena20082@gmail.com
9                  vishu.ee@gmail.com
10         swatantrayadav28@gmail.com
11                 anilje10@gmail.com
12        rajeshpaljekarhal@gmail.com
13               anilpsiten@gmail.com
14                  sdoskb1@gmail.com
15        praveenbaghel1231@gmail.com
16           tulsiyadav9083@gmail.com
17          pramodsingh94127@gmal.com
18                   sdomkp@gmail.com
19                   eedskb@gmail.com
20                  jayvm24@gmail.com
21         viveksinghabcd41@gmail.com
22         viveksinghabcd41@gmail.com
23                jejatpura@gmail.com
24                jejatpura@gmail.com
25                tundlasdo@gmail.com
26               rajawalije@gmail.com
27               rajawalije@gmail.com
28            hazaratpur666@gmail.com
29            hazaratpur666@gmail.com
                    ...
215               sk0371533@gmail.com
216                                 0
217                 nk17612@gmail.com
218                                 0
219          ajaykumarmnp19@gmail.com
220                                 0
221    pradeepkumar.mpi1978@gmail.com
222              sdopinahat@gmail.com
223                eeeddbah@gmail.com
224     rajeshsingh.hathras@gmail.com
225           vipinaditya73@gmail.com
226                                 0
227           ramesh6005.rc@gmail.com
228       munshilalchauhan6@gmail.com
229                                 0
230           hariomtdl1971@gmail.com
231                                 0
232             sdoetmadpur@gmail.com
233             jekhandauli@gmail.com
234                                 0
235               sarveneer@gmail.com
236                                 0
237       nodalmudichauraha@gmail.com
238                                 0
239          rupendra586.rs@gmail.com
240                                 0
241             sdokhandoli@gmail.com
242               eeeddetma@gmail.com
243         seedc2fatehabad@gmail.com
244             gmagradvvnl@gmail.com
Name: email_address, Length: 245, dtype: object